{
 "routing": {
 "domainStrategy": "IPOnDemand",
 "domainMatcher":"hybrid",
 "rules": [
 {
 "type":"field",
 "outboundTag": "freedom",
 "ip": [ "127.0.0.1" ],
 "port":"443,80,53"
 },
 { //DNS Cache rule
 "type": "field", "port": 53, "network": "tcp,udp", "outboundTag": "DNS-Internal"
 },
 { //block quic
 "type": "field", "port": 443, "network": "udp", "outboundTag": "blackhole"
 },
 {
 "inboundTag": ["api"], "outboundTag": "api", "type": "field"
 },
 {
 "type": "field", "outboundTag": "blackhole", "ip": ["geoip:private"]
 },
 {// Block BitTorrent protocol
 "type": "field", "outboundTag": "blackhole", "protocol": ["bittorrent"]
 },
 {
 "type": "field",
 "port": "0-65535",
 "outboundTag": "freedom"
 }
 ]
 }
}
